.cart-badge {
    background-color: green;
    color: white;
    min-width: 24px;  
    height: 24px;     
    font-size: 14px;  
    padding: 0 6px;   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  